<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tl.backend.mapper.GoodMapper">
<!--    动态sql-->
    <select id="list" resultType="com.tl.backend.pojo.Good">
        select * from good
        <where>
            <if test="isMy!=null and isMy==true">
                good_owner=#{myPhone}
            </if>
            <if test="isMy==null or isMy==false and userPhone!=null">
                good_owner=#{userPhone}
            </if>
            <if test="keyWord!=null">
               and good_describe like '%keyWord%'
            </if>
            <if test="dateMin!=null and dateMax!=null">
               and good_create_date between #{dateMin} and #{dateMax}
            </if>
            <if test="priceMin!=null and priceMax!=null">
                and good_price between #{priceMin} and #{priceMax}
            </if>
            <if test="numMin!=null and numMax!=null">
                and good_num between #{numMin} and #{numMax}
            </if>
        </where>


    </select>
</mapper>