<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tl.backend.mapper.GoodMapper">
<!--    动态sql-->
    <select id="list" resultType="com.tl.backend.pojo.Good">
        select good_pic,good_index,good_describe,good_price,good_num,good_create_time,good_update_time,good_owner from good
        <where>
            <if test="isMy!=null and isMy==true">
                good_owner=#{myPhone}
            </if>
            <if test="isMy==null or isMy==false and userPhone!=null">
                good_owner=#{userPhone}
            </if>
            <if test="keyWord!=null">
               and good_describe like concat('%',#{keyWord},'%')
            </if>
            <if test="dateMin!=null">
                and good_create_time &gt;=#{dateMin}
            </if>
            <if test="dateMax!=null">
               and good_create_time &lt;=#{dateMax}
            </if>
            <if test="priceMin!=null">
                and good_price &gt;=#{priceMin}
            </if>
            <if test="priceMax!=null">
                and good_price &lt;=#{priceMax}
            </if>
            <if test="numMin!=null">
                and good_num &gt;=#{numMin}
            </if>
            <if test="numMax!=null">
                and good_num &lt;=#{numMax}
            </if>
        </where>
        --         注意这里只能使用$否则会匹配不出来
        <choose>
            <when test="prop != null and order == 'descending'">
                order by ${prop} desc
            </when>
            <when test="prop != null and order == 'ascending'">
                order by ${prop} asc
            </when>
            <otherwise>
                order by good_index
            </otherwise>
        </choose>

    </select>
</mapper>