<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tl.backend.mapper.UserMapper">
    <select id="list" resultType="com.tl.backend.pojo.User">
        select username,user_pic,sex,birthday,user_address,phone,user_create_time,user_update_time from my_user
        <where>
            <if test="phone!=null">
                phone = #{phone}
            </if>
            <if test="userName!=null">
                and username=#{userName}
            </if>
            <if test="sex!=null">
                and sex=#{sex}
            </if>
            <if test="address!=null">
                and user_address like concat('%',#{address},'%')
            </if>
            <if test="birthMin!=null">
                and birthday &gt;=#{birthMin}
            </if>
            <if test="birthMax!=null">
                and birthday &lt;=#{birthMax}
            </if>
            <if test="createMin!=null">
                and user_create_time &gt;=#{createMin}
            </if>
            <if test="createMax!=null">
                and user_create_time &lt;=#{createMax}
            </if>
        </where>
        --         注意这里只能使用$否则会匹配不出来
        <choose>
            <when test="prop != null and order == 'descending'">
                order by ${prop} desc
            </when>
            <when test="prop != null and order == 'ascending'">
                order by ${prop} asc
            </when>
            <otherwise>
                order by phone
            </otherwise>
        </choose>

    </select>
</mapper>